[type="text"]{
  border: 5px solid Red;
}
[type="number"]{
  border: 5px solid Red;
}
body{
  background-color: Azure;
  font-family: Arial;
}
.Magenta{
  font-size: 30pt;
  font-style: italic;
  text-align: center;
  text-decoration-color: Red;
  text-shadow: 20px 20px 10px rgba(0,0,0,0.5);
  font-weight: bold;
}
.Roy{
  color: Magenta;
  text-decoration-color: Red;
  font-size: 30pt;
  text-shadow: 4px 4px 0 #5C6BC0;
  font-weight: bold;
}
