table{
  border: 1pt solid black;
}
td{
  border: 1pt solid black;

}
body{
  background-color: Azure;
  font-family: Arial;
}
th{
  border: 1pt solid black;
}
caption{
  font-size: 20pt;
  color: BlueViolet;
}
 tr:hover {
   background-color:lightblue;
   border-bottom: 1px solid white;
    color: #6E6E6E;
  }
[type="text"]{
  border: 5px solid green;
}
[type="text"]{
  border: 5px solid green;
}
.Magenta{
  font-size: 30pt;
  font-style: italic;
  text-decoration-color: Red
  text-shadow: 20px 20px 10px rgba(0,0,0,0.5);
  font-weight: bold;
}
.Roy{
  color: Magenta;
  text-decoration-color: Red
  font-size: 30pt;
  text-shadow: 4px 4px 0 #5C6BC0;
  font-weight: bold;
}
