table{
  border: 1pt solid black;
}
td{
  border: 1pt solid black;

}
caption{
  font-size: 20pt;
  color: BlueViolet;
}
 tr:hover {
   background-color:lightblue;
   border-bottom: 1px solid white;
    color: #6E6E6E;
  }
